html, body {
    background: white;
    margin:0;
	color: black;
	font-weight: bold;
    padding: 0;
    padding-top: 10px;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	color:#000080;
}

.container {
	padding: 20px 0px 0px 0px;
	font-weight:bold;
	text-align:center;
	color:black;
	font-family: 'Roboto', sans-serif;
}

.header {
	padding: 20px;
}

.button-section {
	padding: 10px;
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	width: 75%;
	margin: 0 auto;
}

.game-details {
	display: grid;
	grid-template-columns:1fr 1fr;
	width: 75%;
	margin: 0 auto;

}
button {
    display: block;
	margin: 10px auto;
	width: 6em;
	color:white;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
}

.start-button {
	background-color:#5cb85c;
}

.quit-button{
	background-color: #f44336;
}

.clear-button {
	background-color:#f0ad4e;
}

button:disabled {
    cursor: not-allowed;
}

textarea {
    border: 3px solid black;
    width: 75%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #a5a2a2;
    padding: 10px;
}

textarea:disabled {
    background-color: white;
}

label {
	display: inline-block;
	margin: 10px;
}
